<!--users/templates/base.html-->
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Spirit Week</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!--<script src="../js/script.js"></script>-->
    <div id="container">
      <div id="navbar" class="center">
        <a href="/login">Log In</a>
        <a href="/dashboard/">Home</a>
        <a href="/dashboard/#info">Info</a>
        <a href="/dashboard/#arcade">Arcade</a>
        <a href="leaderboards.html">Leaderboards</a>
        <a href="https://www.khsmwv.com">
          <img src="../../users/static/media/smallLogo.png" id="kennettLogo">
        </a>
      </div>

        {% block content %}
        {% endblock %}

      <footer>
        <p id="footerText" class="center">
          Made by the Kennett High School 2020 Computer Science Studio class!
        </p>
      </footer>
    </div>
  </body>
</html>