<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}

<div id="parallax" class="center">
    <h1 id="parallaxText">KHS Spirit Week!</h1>
</div>

<div id="info" class="center">
        
        <h2>Info</h2>
        Hello, {{ user.first_name|default:'Guest' }}!
        <p>
          Information about the games, how to play, how points work, how to log in, spirit week and this year's spirit days, etc. General exciting text about Kennett. Stay strong message.
        </p>
        <hr>
        <h2>Spirit Days</h2>
        <p>optional text abt spirit week and stuff</p>
        <div class="rowContainer">
          <div class="evenDiv">
            <h3>Monday</h3>
            <img src="../../static/media/monday.png" class="spiritImg">
            <h3>Kennett Spirit</h3>
            <p>Wear your Kennett merch or the school colors of black, white, and gold!</p>
          </div>
          <div class="evenDiv sideBordered">
            <h3>Tuesday</h3>
            <img src="../../static/media/tuesday.png" class="spiritImg">
            <h3>Welcome to the Wild</h3>
            <p>Dress up as an animal (think prints) or an explorer (think camo)!</p>
          </div>
          <div class="evenDiv">
            <h3>Wednesday</h3>
            <img src="../../static/media/wednesday.png" class="spiritImg">
            <h3>Decades Day</h3>
            <p>Freshmen - 1970s<br>Sophomores - 1980s<br>Juniors - 1990s<br>Seniors - 2000s</p>
          </div>
          <div class="evenDiv sideBordered">
            <h3>Thursday</h3>
            <img src="../../static/media/thursday.png" class="spiritImg">
            <h3>Dynamic Duos</h3>
            <p>Find a partner or a group and dress up as a popular pair!</p>
          </div>
          <div class="evenDiv">
            <h3>Friday</h3>
            <img src="../../static/media/friday.png" class="spiritImg">
            <h3>Halloween</h3>
            <p>Wear any costume you didn't get to wear during the week or make something new with what you have!</p>
          </div>
        </div>
        <hr>
      </div>
      
      <div id="arcade" class="center">
        <h2>Arcade</h2>
        <p>
          Welcome to the arcade. These games were created by your fellow students in an attempt to make spirit week a little bit more fun. Play a game and try your best to help your grade level out!
        </p>
        <div class="rowContainer">
          <div class="evenDiv">
            <a href="/flappyEagle/">
              <h3>Flappy Eagle</h3>
              <!-- created by caption should be under the header for each game-->
              <img src="../../static/media/flappyEagle.png" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              A minor twist on a modern classic game.
            </p>
            <h4>Top 5 Scores</h4><hr>
            {% for score in scores1 %}
            <p>{{score.first_name}} - {{score.score1}}</p><hr>
            {% endfor %}
          </div>
          <hr>
          <div class="evenDiv">
            <a href="/brickBreaker/">
              <h3>Brick Breaker</h3>
              <img src="../../static/media/brickBreaker.png" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              A classic game simplified for your gaming pleasure.
            </p>
             <h4>Top 5 Scores</h4><hr>
            {% for score in scores2 %}
            <p>{{score.first_name}} - {{score.score2}}</p><hr>
            {% endfor %}
          </div>
          <hr>
          <div class="evenDiv">
            <a href="/airHockey/">
              <h3>Air Hockey</h3>
              <img src="../../static/media/airHockey.png" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              Intense fast paced arcade game where you play against an AI!
            </p>
             <h4>Top 5 Scores</h4><hr>
            {% for score in scores3 %}
            <p>{{score.first_name}} - {{score.score3}}</p><hr>
            {% endfor %}
          </div>
          <hr>
          <div class="evenDiv">
            <a href="/runawayStudents/">
              <h3>Runaway Students</h3>
              <img src="../../static/media/runawayStudents.png" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              Catch them before the bell rings!
            </p>
             <h4>Top 5 Scores</h4><hr>
            <!--{% for score in scores3 %}
            <p>{{score.first_name}} - {{score.score3}}</p><hr>
            {% endfor %}-->
          </div>
        </div>
      </div>

{% endblock %}