<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}

<div id="parallax" class="center">
    <h1 id="parallaxText">KHS Spirit Week!</h1>
</div>

<div id="info" class="center">
        
        <h2>Info</h2>
        Hello, {{ user.first_name|default:'Guest' }}!
        <p>
          Information about the games, how to play, how points work, how to log in, spirit week and this year's spirit days, etc. General exciting text about Kennett. Stay strong message.
        </p>
        <h3>Spirit Days</h3>
        <div class="rowContainer">
          <p class="evenDiv">Monday</p><hr>
          <p class="evenDiv">Tuesday</p><hr>
          <p class="evenDiv">Wednesday</p><hr>
          <p class="evenDiv">Thursday</p><hr>
          <p class="evenDiv">Friday</p>
        </div>
        <div class="rowContainer">
          <p class="evenDiv">Day1</p><hr>
          <p class="evenDiv">Day2</p><hr>
          <p class="evenDiv">Day3</p><hr>
          <p class="evenDiv">Day4</p><hr>
          <p class="evenDiv">Day5</p>
        </div>
        <hr>
      </div>
      
      <div id="arcade" class="center">
        <h2>Arcade</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et est tristique, lobortis mi quis, volutpat nunc. Etiam cursus tellus ac velit dictum lacinia.
        </p>
        <div class="rowContainer">
          <div class="evenDiv">
            <a href="/flappyEagle/">
              <h3>Flappy Eagle</h3>
              <!-- created by caption should be under the header for each game-->
              <img src="../../static/media/placeholder.jpg" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et est tristique, lobortis mi quis, volutpat nunc.
            </p>
            <h4>Top 5 Scores</h4><hr>
            {% for score in scores1 %}
            <p>{{score.username}}- {{score.score1}}</p><hr>
            {% endfor %}
          </div>
          <hr>
          <div class="evenDiv">
            <a href="/brickBreaker/">
              <h3>Brick Breaker</h3>
              <img src="../../static/media/placeholder.jpg" alt="Game3 thumbnail" class="gameThumbnail">
            </a>
            <p>
              This is my test game. We can use it to program the score tracking <br>
            </p>
             <h4>Top 5 Scores</h4><hr>
            {% for score in scores2 %}
            <p>{{score.username}}- {{score.score2}}</p><hr>
            {% endfor %}
          </div>
          <hr>
          <div class="evenDiv">
            <h3>Game1</h3>
            <img src="../../static/media/placeholder.jpg" alt="Game3 thumbnail" class="gameThumbnail">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et est tristique, lobortis mi quis, volutpat nunc.
            </p>
             <h4>Top 5 Scores</h4><hr>
            {% for score in scores3 %}
            <p>{{score.username}}- {{score.score3}}</p><hr>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}