{% extends 'base.html' %}


  {% load static %}

  {% block content %}
  <head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script> -->
    <script src="{% static 'scripts/Games/p5lib/p5.js' %}"></script>
    <script src="{% static 'scripts/Games/p5lib/p5.sound.min.js' %}"></script>
    <script src="{% static 'scripts/Games/FlappyEagle/player.js' %}"></script>
    <script src="{% static 'scripts/Games/FlappyEagle/pipe_controller.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/Games/FlappyEagle/style.css' %}">
    <meta charset="utf-8" />
  </head>
  <body class="center">
    <script src="{% static 'scripts/Games/FlappyEagle/sketch.js' %}"></script>
    <p> Your high score: {{user.score1}}</p>
    {% endblock %}
  </body>