<!--users/templates/users/register.html-->

{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
{{form.errors}}

<form method="post">
    {% csrf_token %}
    <ul>
        <li>{{form.username.label}}:{{form.username}}</li>
        <li>{{form.email.label}}:{{form.email}}</li>
        <li>{{form.grade.label}}:{{form.grade}}</li>
        <li>{{form.password.label}}:{{form.password}}</li>
        <li>{{form.confirm_password.label}}:{{form.confirm_password}}</li>
    </ul>
    <input type="submit" value="Register">
</form>

<a href="{% url 'login' %}">Back to login</a>
{% endblock %}